
data_competence.docx
Hintergrund/2019_Book_HandbuchVisuelleKommunikations.pdf
Hintergrund/2235-0977_a000097.pdf
Hintergrund/Eine_sehr_kurze_Einfuhrung_in_die_Datenv.pdf
Hintergrund/HFD_AP_Nr37_DALI_Studie.pdf
Hintergrund/Klaere_16_Maerz_2016.pdf
Hintergrund/workshop_sol__gtmanmitstatistik_bruckmaier_schmei__er_p.pdf
Literature/06diagramme1.pdf
Literature/10.1515_9783110659344-007.pdf
Literature/10111_Medienkompetenz_ba.pdf
Literature/8020_08001.pdf
Literature/bullshit- weder wahrheit noch lüge.pdf
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox.html
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/1175341709.0.jpg
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/1183284102.0.jpg
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/1229490344.0.jpg
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/ap_21099708040262.0.jpeg
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/chorus-b596177b4ef07372c12a.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/chorus.css
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.i18n.f23123f5b7a17d3dda19.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.modules.5e1e58de5d2ab2585a55.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.ondemand.i18n.en-js.80e9a53ba16ffec58718.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.ondemand.Tweet.327d1ba722088ecf2a76.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.runtime.45b0f07b9e51158b167a.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.Tweet.191afc8ae18f28276a12.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.vendors_loader.UserAvatar_ondemand.Tweet.f52906e061f9771fac2e.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.vendors_ondemand.horizon-web.en-js.61cdf1774587c1f95e99.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.vendors_ondemand.TimelineList_ondemand.Tweet.3fb355ea3b48dfd5b02f.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/embed.vendors_ondemand.Tweet.5edb2b150c21f5107739.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/GettyImages_1174312375.0.jpg
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/GettyImages_450753707.0.jpg
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/horizon_tweet.9a2f49b83b1657de7c03b5a224004aea.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/pickup.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/privacy_consent
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/saved_resource.html
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/scroll.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/Tweet.html
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/widget_iframe.e16c6ecf9d86005b77fc7c17beced5d8.html
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/widgets.js.Download
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/XuSziwxG
Literature/Cambridge Analytica’s “psychographic microtargeting”_ what’s bullshit and what’s legit - Vox_files/YVcFtqBr_bigger.jpg
Literature/Carl Sagan - Der Drache in meiner Garage. Oder die Kunst der Wissenschaft Unsinn zu entlarven.pdf
Literature/Download.htm
Literature/Kampen-Tamás2014_Article_ShouldITakeThisSeriouslyASimpl (1).pdf
Literature/Kampen-Tamás2014_Article_ShouldITakeThisSeriouslyASimpl.pdf
Literature/Medienkompetenz.pdf
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink.html
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig10_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig11_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig1_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig2_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig3_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig4_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig5_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig6_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig7_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig8_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/325022_1_De_38_Fig9_HTML.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/978-3-658-06508-9.jpg
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/basic.css
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/email.svg
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/gtm.js.Download
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/jquery-3.3.1.min.js.Download
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/main.js.Download
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/otBannerSdk.js.Download
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/otSDKStub.js.Download
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/polyfill.min.js.Download
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/print.css
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/saved_resource.html
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/springerlink.png
Literature/Multidisziplinäre Forschungsperspektiven auf Infografiken und Datenvisualisierungen _ SpringerLink_files/styles.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell.html
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/addthis_widget.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/afr.min.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/altmetric_badges-dae2a658e53c442cd84f4390def938db5569f7911cfa1aa78d8970054ec2f48f.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/analytics.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/api.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/awesomplete.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/bone-child-scripts.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/comment-reply.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/core.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/dashicons.min.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/easy-pull-quotes-public.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/effect-fade.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/effect.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/embed-31802d5163e7112bb932c6b069663a78644b40bdeb2e6ca3a53456853965d98d.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/embed.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/fellowships.jpg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/font-awesome.min.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/front.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/frontend.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/frontend.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/get_involved.jpg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/infinite-scroll.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/jquery-migrate.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/jquery-ui.min.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/jquery.dirtyforms.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/jquery.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/jquery.smooth-scroll.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/jquery.sticky-kit.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/jquery.waypoints.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/js.cookie.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/logo-bechtel-foundation.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/logo-democracy-fund.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/logo-ford-foundation.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/logo-hewlett-foundation.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/logo-knight-foundation.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/logo-rita-allen-foundation.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/md-scripts.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/md.2012.d.2019
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/MediaWell-logo.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/mw-icon-llr-white.svg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/position.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/print.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/programs.jpg
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/public.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/public.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/recaptcha__en.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/saved_resource
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/screen.min.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/select2.min.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/select2.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/socialscienceresearchcouncil_logo.png
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/ssrc-meta-nav.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/style(1).css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/style.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/style.min(1).css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/style.min.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/tooltip.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/tsp8rsa.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/vendor.css
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/widget.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/wp-embed.min.js.Download
Literature/On Digital Disinformation and Democratic Myths – MediaWell_files/wp-emoji-release.min.js.Download
Literature/Pages from 10111_Medienkompetenz_ba.pdf
Literature/pdfepub_066be56ee8c870a08f415504f2c0839c.pdf
Literature/pdfepub_101b462f87d585e2d5445eaaa2d3fe9b.pdf
Literature/pdfepub_68e551322c9ae695d9632af532f12a34.pdf
Literature/pdfepub_69f49dadcc6ff85c7e33c9bfe737e8e5.pdf
Literature/s7.pdf
Literature/Seminarplan_Alles_Luege.pdf
Literature/So_lgt_man_mit_Statistik_15._Korrelation_und_Kausalitt.pdf
Literature/Teilnehmerliste.pdf
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques.html
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/d41586-018-03880-4
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/d41586-018-03880-4_15565766.jpg
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/f.txt
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/gtm.js.Download
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/header-150-es5-bundle.6f25c85630.js.Download
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/header-86f1267ea01eccd46b530284be10585e.svg
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/magazine-mosaic-150.8baf0032dd.css
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/magazine-mosaic.50854b24fc.js.Download
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/mosaic-grade-c.7d2d769902.css
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/nature-briefing-logo-n150-white.d81c9da3ec.svg
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/nature-portfolio-white.7caca87447.svg
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/otBannerSdk.js.Download
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/otSDKStub.js.Download
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/polyfill.min.js.Download
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/saved_resource.html
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/shared-es6-bundle.16445d7925.js.Download
Literature/The scant science behind Cambridge Analytica’s controversial marketing techniques_files/sn-logo-white.ea63208b81.svg
Literature/unsinn.pdf
Literature/Wright2020_Article_ManyPeopleAreSayingApplyingThe.pdf
Seminarplan.pdf
Videos/6_4_bestpractice.mp4
Videos/6_3_Fehler.mp4
Videos/6_2_Hintergrund.mp4
Videos/6_1_Einführung.mp4
Videos/4-4-sampling.mp4
Videos/4-3-Konzepte_Messung.mp4
Videos/4-2-Grundgesamtheiten.mp4
Videos/4-1-Einführung.mp4
Videos/2-4-Warhheit.mp4
Videos/2-3-Neu und alt.mp4
Videos/2-2-Hintergrund.mp4
Videos/2-1-Einführung.mp4
Video Production/6_4_bestpractice.tscproj
Video Production/6_3_Fehler.tscproj
Video Production/6_2_Hintergrund.tscproj
Video Production/6_1_Einführung.tscproj
Video Production/4-4-sampling.tscproj
Video Production/4-3-Konzepte_Messung.tscproj
Video Production/4-2-Grundgesamtheiten.tscproj
Video Production/4-1-Einführung.tscproj
Video Production/2-4-Warhheit.tscproj
Video Production/2-3-Neu und alt.tscproj
Video Production/2-2-Hintergrund.tscproj
Video Production/2-1-Einführung.tscproj
Student_presentations/statistische_fallen_und_tricks_1.pdf
Student_presentations/Folien für Kleingruppe.pdf
Student_presentations/Diskussionsrunde Beispiele Datenkompetenz.pptx
Literature/Verlorene Wirklichkeit An der Schwelle zur postfaktischen Demokratie.pdf
Literature/Figures/fig_eval_lr.png
Literature/Figures/fig_eval_gender_resp.png
Literature/Figures/fig_eval_gen.png
Literature/Figures/fig_eval_corona_risk.png
Literature/Figures/fig_eval_corona.png
Literature/Figures/fig_dist_3_lr.png
Literature/Figures/fig_dist_3_gender_resp.png
Literature/Figures/fig_dist_3_gen.png
Literature/Figures/fig_dist_3_corona_risk.png
Literature/Figures/fig_dist_3_corona.png
Literature/Figures/fig_dist_2_lr.png
Literature/Figures/fig_dist_2_gender_resp.png
Literature/Figures/fig_dist_2_gen.png
Literature/Figures/fig_dist_2_corona_risk.png
Literature/Figures/fig_dist_2_corona.png
Literature/Figures/fig_dist_1_lr.png
Literature/Figures/fig_dist_1_gender_resp.png
Literature/Figures/fig_dist_1_gender.png
Literature/Figures/fig_dist_1_gen.png
Literature/Figures/fig_dist_1_corona_risk.png
Literature/Figures/fig_dist_1_corona.png
Literature/Figures/fig_asian_culture_lr.png
Literature/Figures/fig_asian_culture_gender_resp.png
Literature/Figures/fig_asian_culture_corona_risk.png
Literature/Figures/fig_asian_culture_corona.png
Literature/Figures/fig_asian_culture.png
Literature/Figures/fig_asian_blame_lr.png
Literature/Figures/fig_asian_blame_gender_resp.png
Literature/Figures/fig_asian_blame_corona_risk.png
Literature/Figures/fig_asian_blame_corona.png
Literature/Figures/fig_asian_blame.png
Hintergrund/misinformation-syllabus.pdf
Videos/8_4_theorie.mp4
Videos/8_3_korrelation_mirror.mp4
Videos/8_3_korrelation.mp4
Videos/8_2_das_problem.mp4
Videos/8_1_einführung.mp4
Video Production/8_4_theorie.tscproj
Video Production/8_3_korrelation.tscproj
Video Production/8_2_das_problem.tscproj
Video Production/8_1_einführung.tscproj
Video Production/54644829_1414247322287382_3353314839755867724_n.mp4
Tagebuch/The sound of Bullshit.docx
Tagebuch/Tagebuch Lies and Statistics Niklas Liebenthal.pdf
Tagebuch/Tagebuch Bullshit Clarisse Mathiot .pdf
Tagebuch/roepsch_bullshit-tagebuch.pdf
Tagebuch/Program Workshop Measuring Populism.docx
Tagebuch/Max Schmidt_Bullshit Logbuch.pdf
Tagebuch/Logbuch.jpeg
Tagebuch/kausalität.xlsx
Tagebuch/BullshitTagebuch_Sendrowski.pdf
Tagebuch/bullshit_Tagebuch_Stelzer.pdf
Tagebuch/Bullshit Tagebuch_Marie-Claire Röpsch.pdf
Tagebuch/Bullshit Tagebuch.pdf
Tagebuch/Bullshit Tagebuch PDF.pdf
Tagebuch/Bullshit Tagebuch Final.pdf
Tagebuch/Bullshit Tagebuch -laith.pdf
Tagebuch/Bullshit Journal.pdf
Tagebuch/Bullshit Journal-schnell.pdf
Literature/ZA7700_fb_v_0.1_de(1).pdf
Literature/iv. Social Media COVID Ottawa Caulfield FINAL.pdf
Literature/Debunking_Handbook_2020_German.pdf
